- context ||= :general
%ul{:class => 'resource_grid people'}
  = render :partial => 'people/grid_item', :collection => grid, :locals => {:context => context}
= render :partial => 'shared/list_pagination', :object => grid
