- context ||= :general
%ul{:class => 'resource_list people'}
  = render :partial => 'people/list_item', :collection => list, :locals => {:context => context}
= render :partial => 'shared/list_pagination', :object => list
