%h1= t('people.claim.title',:name => @person.name)
%p
  = t('people.claim.imported_from', :provider => provider_name(@person.imported_from_provider))
  = t('people.claim.provider_not_logged_in', :provider => provider_name(@person.imported_from_provider))
=link_to t('people.claim.sign_in_to_provider', :provider => provider_name(@person.imported_from_provider)), "/auth/#{@person.imported_from_provider}", :class => 'external'
