.section_header{:class => 'people'}
  %h1 People
  = link_to "+ Add Someone", new_person_path, :class => 'new'

%ul{:class => 'person_grid'}
  - @people.each do |person|
    %li
      %a{:href => person_path(person)}
        %strong.name= person.name
        %span.twitter= "@#{person.twitter}"