%ul.authentications
  - list.each do |authentication|
    %li{:class => [authentication.provider], :id => "#{authentication.provider}_#{authentication.uid}"}
      =provider_icon(authentication.provider)
      =auth_label(authentication)
      - if list.size > 1
        = link_to t('button.remove'), authentication_path(authentication), :confirm => t('alert.are_you_sure'), :method => :delete, :class => 'delete'
