%h1 Ack! Something went wrong!
%p We received an error of some kind back from your login provider. You can try again with the same login provider or choose another service.
%h2 Please pick a login provider to continue:
= render :partial => 'provider_list'

