%h1 Eep! We couldn't find a way to log you in!
%p We tried to automatically pick a login provider for you based on your email address, but didn't find one.
%h2 Please pick a login provider to continue:
= render :partial => 'provider_list'
