%h1 Authentications

%table
  %tr
    %th 
    %th Provider
    %th Name
    %th Account
    %th Actions
  - for authentication in @authentications
    %tr
      %td
        - if authentication.info[:image]
          %img{:src => authentication.info[:image], :width => 48, :height => 48}
      %td=provider_icon(authentication.provider)
      %td= authentication.info[:name]
      %td= authentication.info[:nickname]
      %td
        - if @authentications.size > 1
          = link_to "Remove", authentication_path(authentication), :confirm => 'Are you sure?', :method => :delete
