.section_header{:class => 'groups'}
  %h1 Groups
  = link_to "+ Add a Group", new_group_path, :class => 'new'

%ul{:class => 'group_grid'}
  - @groups.each do |group|
    %li
      %a{:href => group_path(group)}
        %strong.name= group.name
        %span.twitter= "@#{group.twitter}"