%h1= "Welcome #{current_user.name}!"
%p
  Hi there,
  = current_user.name
  We haven't seen you before, would you like to add yourself to the directory?
=form_tag(people_path, :method => :post) do
  =hidden_field_tag :from_twitter, current_user.login
  =submit_tag "Of course!"
%a{:href => root_path} Not now, let me browse.