%h1= "Welcome #{current_user.name}!"
%p
  Hi there,
  = current_user.name
  We haven't seen you before, would you like to add yourself to the directory?
%a{:href => new_person_path} Of course!
%a{:href => root_path} Not now, let me browse.