%h1= "Hi #{@name.split(' ').first}!"
%h2 Add yourself to ePDX
= render :partial => 'people/form'
- if @possible_duplicates.present?
  %strong What ho! It looks like someone might have already added you to ePDX? Are you any of these fine people?
  = render :partial => 'people/list', :object => @possible_duplicates, :locals => {:context => :claim}
