@import config
@import mixins

@import compass/css3
@import 960/grid

@import webfonts
@import transitions

.desktop-only
  display: inline
div.desktop-only
  display: block

#header, #content, #footer
  +grid-container

#header
  +clearfix
  h1
    +grid(2,16)
    +alpha
    a img
      +opacity(0)
    a:hover img
      +opacity(0.7)
  #main_nav
    display: block
    +horizontal-list
    @extend .league_gothic
    +grid(11,16)
    li
      margin-right: 2em
      margin-top: 6px
      a
        color: black
        text-transform: uppercase
        font-size: 20px
        line-height: 20px
        &:hover, &.active
          text-decoration: none
        &.people
          &:hover, &.active
            @extend .people-text
        &.companies
          &:hover, &.active
            @extend .companies-text
        &.groups
          &:hover, &.active
            @extend .groups-text
        &.projects
          &:hover, &.active
            @extend .projects-text
        &.resources
          &:hover, &.active
            @extend .resources-text
        &.events
          &:hover, &.active
            @extend .events-text
  #account_box
    position: static
    padding-top: 5px
    +grid(3,16)
    +omega
    float: right
    img.avatar
      width: 35px
      height: 35px
    .name
      display: block
      padding-right: 0
      margin-right: 0
      border-right: none
#site_intro
  margin: 0
  width: 300px

#site_intro
  font-size: 30px
  .awesome
    font-size: 35px

#front_nav
  width: 360px

#footer
  div
    display: inline
    margin-right: 4em

#content
  #people_search_results
    li
      width: 600px
  .resource_list
    li
      width: auto
      h3
        display: inline
        margin-right: .5em