@import config
@import mixins

@import compass/css3
@import 960/grid

@import webfonts
@import transitions
@import border_radius

.desktop-only
  display: inline
div.desktop-only
  display: block

#header, #content, #footer
  +grid-container

#header
  +clearfix
  h1
    +grid(2,16)
    +alpha
    a img
      +opacity(0)
    a:hover img
      +opacity(0.7)
  #main_nav
    display: block
    +horizontal-list
    @extend .league_gothic
    +grid(11,16)
    z-index: 80
    li
      margin-right: 2em
      margin-top: 6px
      a
        color: black
        text-transform: uppercase
        font-size: 20px
        line-height: 20px
        &:hover, &.active
          text-decoration: none
        &.people
          &:hover, &.active
            @extend .people-text
        &.companies
          &:hover, &.active
            @extend .companies-text
        &.groups
          &:hover, &.active
            @extend .groups-text
        &.projects
          &:hover, &.active
            @extend .projects-text
        &.resources
          &:hover, &.active
            @extend .resources-text
        &.events
          &:hover, &.active
            @extend .events-text
  #account_box
    position: static
    padding-top: 5px
    +grid(3,16)
    +omega
    float: right
    img.avatar
      width: 35px
      height: 35px
    .name
      display: block
      padding-right: 0
      margin-right: 0
      border-right: none
    #global_sign_in
      float: right

#global_sign_in_form
  // position: absolute
  // margin: -10px 10px 0 0
  background: transparent
  +grid-container
  +opacity(0)
  form
    background: #666
    width: 250px
    float: right
  &.open
    height: 110px
    +opacity(1)


#site_intro
  font-size: 30px
  +grid(6,16)
  +alpha
  margin-top: 1em
  .awesome
    font-size: 35px

#front_nav
  +grid(10,16)
  +omega

#footer
  div
    display: inline
    margin-right: 4em

#content
  +clearfix
  margin-top: .5em
  .section_header
    #view_options
      display: inline
  #people_search_results
    li
      width: 600px
  .resource_list
    li
      width: auto
      h3
        display: inline
        margin-right: .5em
  .resource_grid
    li
      +grid(4,16)
  .single_record
    position: relative
    &.with_image
      padding-left: 230px
      min-height: 220px
    img.person_photo, img.logo
      width: 220px
      position: absolute
      top: 0
      left: 0
      margin: 0
    .record_actions
      position: absolute
      right: 0
      top: 0
      z-index: 10
    #claim_user
      float: right
  #welcome
    #possible_duplicates
      +grid(6,16)
      +omega
      float: right
      li
        position: relative
        padding-right: 120px
        .claim
          position: absolute
          right: 0
          top: 10px
    #add_yourself
      +grid(10,16)
      +alpha
  #user_home
    #profile
      +grid(10,16)
      +alpha
    #authentications
      +grid(6,16)
      +omega

div#creepy-baby-sloth
  margin: 2em auto 0 auto
  width: 640px
  img
    border: 2px solid $error_color
