- context ||= :general
%ul{:class => 'resource_list projects'}
  = render :partial => 'projects/list_item', :collection => list, :locals => {:context => context}
= render :partial => 'shared/list_pagination', :object => list
