.section_header{:class => 'projects'}
  %h1 Projects<span class='desktop-only'> &amp; Products</span>
  = link_to "+ Add a Project", new_project_path, :class => 'new'

%ul{:class => 'projects_grid'}
  - @projects.each do |project|
    %li
      %a{:href => project_path(project)}
        %strong.name= project.name
        %span.twitter= "@#{project.twitter}"