- context ||= :general
%ul{:class => 'resource_list companies'}
  = render :partial => 'companies/list_item', :collection => list, :locals => {:context => context}
= render :partial => 'shared/list_pagination', :object => list
