- content_for(:section_header) do
  .section_header{:class => 'companies'}
    %h1 Companies
    = link_to "+ Add a Company", new_company_path, :class => 'new'

= render :partial => 'companies/list', :object => @companies
