.section_header
  %h1{:class => 'resources'} Resources
  = link_to "+ Add a Link", new_resource_path

%ul{:class => 'resources_grid'}
  - @resources.each do |resource|
    %li
      %a{:href => resource_path(resource)}
        %strong.name= resource.name