%p
  The record you requested doesn't exist. Are you sure you asked for the right item? Maybe it was deleted? Maybe it was abducted by aliens? So sorry. Here's a creepy baby sloth to make you feel better:

%div#creepy-baby-sloth
  = image_tag 'creepy-baby-sloth.jpg'
