- context ||= :general
%li.resource_link
  %h3
    =link_to "#{list_item.category}: #{list_item.name}", normalize_url(list_item.url)
  %p{:class=>'description'}= truncate(list_item.description, :length => 350)

