- content_for(:section_header) do
  .section_header{:class => 'resources'}
    %h1 Resources
    = link_to "+ Add a Link", url_for(:action => :new), :class => 'new'

- @resource_links.keys.sort.each do |category|
  %h2 #{category}
  %ul{:class => 'resources'}
    - @resource_links[category].sort_by(&:name).each do |resource|
      %li{:id => resource.id}
        %a{:href => normalize_url(resource.url)}
          %strong.name= resource.name
        %span.description &mdash; #{resource.description}
        %a{:href => edit_resource_link_path(resource)} edit
